:root {
    --textcolor: blueviolet;
    
}

body {
    background-color: rgb(37, 156, 156);
    color:#664e0c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: var(--textcolor);
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

p,blockquote {
    font-size: 1.777rem;
}

blockquote {
    font-style: italic;
    border-left: 5px solid;
    padding-left: 5px;
}

figcaption {
    font-size: 0.75rem;
}

a {
    color:currentColor ;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}
